{% extends  "base.html" %}
{% block content %}
<form action="/blog/update/{{ posts.id }}">

        {% csrf_token %}

        <label class="form-group" for="title">Title: </label>
        <input class="form-control form-control-sm" type="text" name="title" value="{{ posts.title }}" placeholder="{{ posts.title }}">

        <label class="form-group" for="body">Body: </label>
        <textarea name="body" class="form-control form-control-sm" required placeholder="Input Body">{{ posts.body }}</textarea><br>
        <label class="form-group" for="author">Tag: </label>
        <input class="form-control form-control-sm" type="text" name="tag" value="{{ posts.tag }}" placeholder="{{ posts.tag }}">
        <br>

        <input class="btn btn-primary" type="submit" value="Update">

</form>
{% endblock content %}